
#edit-commodity, #edit-acknowledgement, #edit-exchange {
  float:right;
  width:350px;
}

#edit-display {
  clear: both;
}

.currency-plugin-summary, .widget-plugin-settings-edit-form {
  background-color: #F1F1F1;
  padding: 0.5em;
}

.currency-plugin-summary .widget-plugin-summary {
  float: left;
}

.currency-plugin-summary .widget-plugin-settings-edit-wrapper {
  float: right;
}