.toolbar-icon-mcapi-admin:before {
  background-image: url("balance.787878.svg");
}
.no-svg .toolbar-icon-mcapi-admin:before {
  background-image: url("balance.787878.png");
}
.toolbar-icon-mcapi-admin:active:before,
.toolbar-icon-mcapi-admin.active:before {
  background-image: url("balance.000000.svg");
}
.no-svg .toolbar-icon-mcapi-admin:active:before,
.no-svg .toolbar-icon-mcapi-admin.active:before {
  background-image: url("balance.000000.png");
}

/* indent these settings fields */
#wallet-form #edit-access div.form-type-textfield {
  margin-left: 2em;
}
