#mcapi-workflow-container table {
  float: left;
  margin-right: 1em;
}
#mcapi-workflow-container .mcapi-workflow-states,
#mcapi-workflow-container .mcapi-workflow-operations {
  width: 39%;
}
#mcapi-workflow-container .mcapi-workflow-types {
  width: 19%;
}