.toolbar-icon-accounting:before {
  background-image: url("balance.787878.svg");
}
.no-svg .toolbar-icon-accounting:before {
  background-image: url("balance.787878.png");
}
.toolbar-icon-accounting:active:before,
.toolbar-icon-accounting.active:before {
  background-image: url("balance.000000.svg");
}
.no-svg .toolbar-icon-accounting:active:before,
.no-svg .toolbar-icon-accounting.active:before {
  background-image: url("balance.000000.png");
}
