div.mode-certificate, div.mode-certificate_ops {
  padding: 1em 3em 1em 3em;
  text-align: center;
}
div.certificate div.worth {
  font-size: 250%;
  line-height: 1.1em;
}
div.state-erased div.certificate,
div.state-erased div.sentence {
  opacity: 0.3;
}
div.watermark {
  margin: auto 2em;
  position: absolute;
  font-family: arial, helvetica;
  font-size: 50pt;
  font-weight: bold;
  opacity: 0.15;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=8);
  top: 2em;
}
div.stamp {
  margin: auto 2em;
  position: relative;
  color: red;
  font-family: arial, helvetica;
  font-size: 50pt;
  font-weight: bold;
  z-index: 3;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=8);
  top: 2em;
}

div.transaction.certificate ul.transaction-operations {
  display: block;
  list-style: none;
  text-align: center;
  margin-top: 1em;
}
div.transaction.certificate#dependent-transactions {
  border: medium solid grey;
  text-align: center;
}

ul.transaction-operations {
  display: inline;
  padding: 0;
}
/* these separators aren't very flexible I'm afraid but there's no way I can see to do it in php */
ul.transaction-operations li {
  display: inline;
  padding: 0 0.5em !important;
  margin: 0 !important;
  border-right: thin solid grey;
}
ul.transaction-operations li:last-child {
  border-right: none !important;
}
ul.transaction-operations li a {
  text-decoration: none;
}
div.transaction div.certificate div.field {
  display: inline;
}
form.transaction-operation-form div#edit-actions {
  text-align: center;
}

div.certificate span.worth-zero {
  background-image: url("present.gif");/* free image from http::clipartpanda.com */
  background-size: 100%;
  display: inline-block;
  width: 31px;
  height: 31px;
}

/* the transaction operations flow on from the sentence in the pending view of transactions as sentences */
div.mcapi_transaction-sentence>div.item-list, div.mcapi_transaction-sentence ul, div.mcapi_transaction-sentence ul>li{
  display: inline;
}

/*div.sentence, */
div.mcapi_transaction-sentence ul>li {
  padding: 0 0 0 1em;
}

div.field--type-worth, div.field--type-worth div.field__item {
  display:inline
}
