
div.transaction.certificate {
  padding: 3em 3em 1em 3em;
  text-align: center;
}
div.transaction.certificate span.quantity {
  font-size: 250%;
  line-height: 1.1em;
}
div.transaction.state-0{
  opacity: 0.3;
}
div.transaction.certificate ul.transaction-transitions{
  display: block;
  list-style: none;
  text-align: center;
  margin-top: 1em;
}
div.transaction.certificate#dependent-transactions {
  border: medium solid grey;
  text-align: center;
}

ul.transaction-transitions{
  display:inline;
}
/* these separators aren't very flexible I'm afraid but there's no way I can see to do it in php */
ul.transaction-transitions li{
  display: inline;
  padding: 0 0.5em;
  border-right: thin solid grey;
}
ul.transaction-transitions li:last-child{
  border-right: none !important;
}
ul.transaction-transitions li a{
  text-decoration: none;
}
/*div.sentence, */
div.sentence .link {
  padding: 0 0 0 1em;
}

