/**
 * Styling for the Worth Element
 */

div#edit-worth-wrapper {
  display: inline-block;
}
span.worth.multiple {
  margin-bottom: 3px;
  display: block;
}
span.worth.multiple input {
  text-align: end;
}

/* get rid of the spinners */
span.worth input::-webkit-outer-spin-button,
span.worth input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
span.worth input[type='number'] {
  -moz-appearance: textfield;
}
