/**
 * Styling for the Worth Element
 */

.form-type-worth , .form-type-worth > .form-item {
  margin: 0 1em 0 0;
  display:inline-block;
}

.form-type-worth > div.multiple{
  text-align: right;
} 

.form-type-worth .form-item {
  display: inline-block;
  color:red;
}

/* get rid of the spinners */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   display: none;
   -webkit-appearance: none;
   margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}