{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * javascript has been added
 * id
 * width
 * height
 */
#}
<script>{{ javascript }}</script>
<div id="{{ id }}" style="width:{{ width }}px; height:{{ height }}px;"></div>


