{#
 wallet
 currency
 max
 maxformatted
 min
 minformatted
 balance
 balanceformatted
#}

<div class = "wallet-limits">
  <strong>{{ currency.human_name }}</strong><br />
  Balance: {{ balanceformatted }}
  <br />
  Min {{ minformatted }}
  <br />
  Max {{ maxformatted }}
</div>
