span.currency img{
  position:relative;
  top:3px;
}

/* transaction form */
input.form-autocomplete,
.form-text#edit-completer-uid,
.form-text#edit-starter-uid,
.form-text#transaction-create-form {
  width:12em;
}


#edit-quantity-wrapper,
#transaction-create-form #edit-cid-wrapper{
  float:left;
  clear:none;
}
#edit-title-wrapper{
	clear:left;
}

#edit-division{
  width:8em;
}

#transaction-create-form table,
#transaction-create-form table tr,
#transaction-create-form table tbody td{
  border: 0;
  padding: 0 0.3em 0 0;
  margin: 0;
  background-color: transparent;
}
#transaction-create-form .form-item{
  margin: 0 0 1.5em 0;
}

.block #edit-title,
.block #edit-title-1{
  width:95%;
  }


.block #edit-next-1.form-submit{
  float:right;
  }

/* node view, and all possible radio buttons */
#transaction-buttons form,
#transaction-buttons form div,
div.view-content form,
div.view-content form div,
div.views-field-quantity,
.profile form,
.profile form div,
.profile form div input,
input.transaction_button,
#edit-cc-select-user-orderby-uid-wrapper, 
#edit-cc-select-user-orderby-name-wrapper, 
#edit-transaction-type-incoming-direct-wrapper,
#edit-transaction-type-outgoing-direct-wrapper,
#edit-transaction-type-incoming-confirm-wrapper,
#edit-transaction-type-outgoing-confirm-wrapper{
  display:inline;
  margin:0;
}
	
/* user profile */
table.profile-balances td{
  text-align:right;
}
div.balances,
fieldset.balance-limits fieldset {
  float:left;
  margin-left:1em;
}
table.user-balances td{
  text-align:center;
}

/* statement page */
div.view table caption{
  text-align:left;
}
span.cc-previous{float:left;}
span.cc-next{float:right;}
span.cc-previous:before{content:'<<';}
span.cc-next:after{content:'>>';}

/* currency properties form */
#edit-quantity,
#edit-quantity-1,
#edit-comparative-value, 
#edit-zero-offset,
#edit-max-balance,
#edit-min-balance, 
.balance-limits .form-text {
  width:3em;
}
div.transaction.teaser{margin-bottom:1em;}
.view-cc-transactions-pending .view-header{}