{#
/**
 * @file
 * Default theme implementation for the wallet wrapper
 * label 
 * element
 * canonical
 */

#}
<div class="wallet">
  <h3>{{ label }}</h3>
  <a href="{{ canonical }}">{% trans " Visit wallet" %}</a>
  {{ element }}
</div>
