{#
/**
 * @file
 * Default theme implementation for the wallet wrapper
 * label
 * element
 * canonical
 * view_mode
 */

#}
<div {{ attributes }}>
  {% if label %}<h3>{{ label }}</h3>{% endif %}
  {{ element }}
</div>
