{#
/**
 * @file
 * Default theme implementation to display many wallets together
 * variables:
 * - wallets contains many wallet
 * - add_wallet_link
 */
#}

<div class = "all-wallets">
  {% for wallet in wallets %}
    {{ wallet }}
  {% endfor %}
</div><!--/wallets-->
{{ add_wallet_link }}
