{#
/**
 * @file
 * Default theme implementation to display many wallets together
 * variables:
 * - wallets contains many wallet
 */
#}

<div class = "all-wallets">
  {% for wallet in wallets %}
    {{ wallet }}
  {% endfor %}
</div><!--/all-wallets-->
