{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - transaction: the rendered transaction
 * - links: The transaction operations, formatted as a list
#}
<div class = "{{ attributes.class }}">
  {{ transaction }}
  {{ links }}
  {# any unrendered fieldAPI fields will appear here #}
</div>
