{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   name //of the wallet
 *   url //to the wallet transaction listing
 *   currencies //list
 */
#}
<div class = "wallet-summary">
  <a class = "wallet-title" href="{{ url }}" title="Show stats">{{ name }}</a><br />
  {% for curr_sum in currencies %}
    {{curr_sum}}
  {% endfor %}
</div><!--/wallet-summary-->
