{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 * label //of the wallet
 * canonical //to the wallet uri
 * log_link //to the wallet transaction listing
 * delimiter //a separater character
 * delimited the rendered worth values already in a string with the delimiter
 * currencies, each of which consists of
 * - balance
 * - label
 */
  @todo translate the heading
#}
<h3>Balances</h3>
<div class = "wallet-balances">
  {{ delimited }}
</div>
