{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   name //of the wallet
 *   url #to the wallet transaction listing
 *   currency (data object)
 *   balance (formatted)
 *   trades (number of)
 *   gross_in
 *   gross_out
 *   partners
 */
#}
<div class = "wallet-summary-currency">
  <span style = "font-size: 1.5em">{{ balance }}</span>
  in <a href="{{ url }}" title = "Show transactions">{{ trades }} trades</a>
</div>
