{#
/**
 * @file
 * Default theme implementation to display many wallets together
 * variables:
 * - wallets contains many wallet
 */
#}

<div class = "all-wallets" style = "background-color: rgb(238, 238, 238);padding:5px;">
  {% for wallet in wallets %}
  {{ wallet }}
  {% endfor %}
</div><!--/wallets-->
