{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   label //of the wallet
 *   wallet_link #to the wallet uri
 *   wallet_log_link #to the wallet transaction listing
 *   currencies //list
 */
#}
<div class = "wallet-balances">
  {% for curr_sum in currencies %}
    {{ curr_sum }}
  {% endfor %}
</div>
