{#
/**
 * @file
 * Default theme implementation to display a balances when the limits are the same, top and bottom.
 * the google chart will expand to fill the container specified here
 *
 * javascript
 * id
 * size
 */
#}
<script>{{ javascript }}</script>
<div id="{{ id }}" style="width:{{ size }}; height:{{ size }};"></div>

