{#
/**
 * @file
 * Default theme implementation to display a node.
 * the google chart will expand to fill the container specified here
 *
 * javascript
 * id
 * size
 * size
 */
#}
<script>{{ javascript }}</script>
<div id="{{ id }}" style="width:{{ size }}; height:{{ size }};"></div>

